@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: large;
}

h1, h2 {
  color: #444;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

p {
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 50%;
  max-height: 50%;
}

header {
  background-color: #4bcffa;
  padding-bottom: 5%;
  width: 80%;
  margin: auto;
}

section {
  background-color: #d2dae2;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 5%;
}

article {
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid gainsboro;
  padding-top: 3%;
}

article h1, h2, p{
  padding-left: 2%;
  padding-bottom: 2%;
}

article ul, li {
  padding-right: 4%;
  /* list-style-type: none; */
  line-height: 200%;

}



figure {
  border: 1px solid red;
}


/* navbar */
nav {
  /* background-color: #3c40c6; */
  width: 80%;
  margin: auto;
  border: 1px solid salmon;
}

nav a {
  text-decoration: none;
  color: #121212;
  border: 1px solid pink;
}

nav a:hover {
  background-color: #d2dae2;
}


/* footer */
footer {
  background-color: #1e272e;
  color: #fff;
  padding: 2em 0;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.footer-col {
  flex: 1;
  text-align: center;
}

.footer-col li {
  list-style-type: none;
}

.footer-col h3 {
  margin-bottom: 0.5em;
}

.social-media-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-media-list li {
  margin-right: 0.5em;
}

.social-media-list li a {
  color: #fff;
}

@media (max-width: 600px) {
  /* footer stacks in columns in mobile view */
  .footer-container {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-bottom: 1em;
    list-style-type: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  /* nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    margin-right: 1em;
    list-style-type: none;
  } */
}

@media (min-width: 901px) {
  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav li {
    /* margin-right: 2em; */
    list-style-type: none;
  }
}

.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* this will make the thumbnail round */
  object-fit: cover;
}


video {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .panel {
    /* make panels stack vertically on small screens */
    display: flex;
    flex-direction: column;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  img {
    /* scale down images on small screens */
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .panel {
    /* make panels float side by side on medium-sized screens */
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 1201px) {
  .panel {
    /* make panels float side by side on large screens */
    /* float: left; */
    /* width: 33.33%; */
  }
}



/* styles for high contrast mode for users who use a night mode reader*/
/* @media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #121212;
  }

  h1, h2 {
    color: #fff;
  }

  nav a{
    color: #fff;
  }
} */